includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/multisite-global-media.php
        - %currentWorkingDirectory%/src/
    autoload_files:
        - %currentWorkingDirectory%/multisite-global-media.php
    ignoreErrors:
        # Ignore WooCommerce errors
        - '#^Call to static method get_product_type\(\) on an unknown class WC_Product_Factory\.$#'
        - '#^Call to static method get_product_classname\(\) on an unknown class WC_Product_Factory\.$#'
        - '#^PHPDoc tag @var for variable \$product contains unknown class WC_Product\.$#'
        - '#^Call to method get_id\(\) on an unknown class WC_Product\.$#'
